:root {
  --primary: #001518;
  --bg: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: rgb(5, 5, 5);
  /* min-height: 2000px; */
}

.navbar {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 10%;
  background-color: rgba(1, 1, 1 0.8);
  border-bottom: 1px solid #85858518;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #e47900;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
  color: #e47900;
}

.navbar .navbar-nav a:hover {
  color: #e47900;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #e47900;
  transform: scalex(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

/* hero section */
.hero {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--primary); */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url("../static/img/bg-bg.jpg");
  background-position: center;
}

.hero .content {
  max-width: 40rem;
  text-align: center;
}

.hero .content h1 {
  color: #fff;
  font-size: 4em;
  line-height: 1.2;
}

.hero .content p {
  color: #e47900;
  font-size: 1.4rem;
  margin-top: 0.8rem;
  line-height: 2;
  /* font-weight: 100; */
}

/* Footer */
footer {
  background-color: var(--primary);
  flex-wrap: wrap;
  color: #fff;
}

footer .containerfoot {
  /* justify-content: center; */
  display: flex;
  padding: 8rem 7rem;
}

footer .containerfoot .row {
  margin: 5rem;
}

footer .containerfoot .row .col h4 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

footer .containerfoot .row .col p {
  line-height: 1.5;
  max-width: 20rem;
  font-size: 1.2rem;
}

footer .containerfoot .row .col .list {
  list-style: none;
  font-size: 1.2rem;
  line-height: 2rem;
}

footer .containerfoot .row .col .list a {
  display: flex;
  color: #fff;
}

footer .containerfoot .row .col .list a:hover {
  color: #e47900;
}

footer .copyrigh .credit {
  justify-content: center;
  border-top: 3px solid #85858518;
  display: flex;
  padding: 0.5rem 10% 0rem;
}
footer .copyrigh .credit p a {
  color: #e47900;
}

footer .copyrigh .credit .sosial {
  margin: 0rem 1rem;
}

footer .copyrigh .credit .sosial a {
  margin: 0rem 0.5rem;
  color: #fff;
}

footer .copyrigh .credit .sosial a:hover {
  color: #e47900;
}

/* About Section */
.about {
  padding: 8rem 10% 8rem;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about h2 span,
.artikel h2 span {
  color: #e47900;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 30rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 0% 2% 0% 2%;
}

.about .row .content {
  flex: 1 20rem;
  padding-left: 3rem;
}
.about .row .content .price {
  display: flex;
  flex-wrap: wrap;
}
.about .row .content .price span {
  color: #e47900;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
}
.about .row .content .price p {
  margin-right: 2rem;
  max-width: 16rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.about .informasi {
  text-align: center;
  margin-top: 8rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.about p {
  /* max-width: 60rem; */
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Media Queris */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
}

/* phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
