:root {
  /* --primary: rgb(6, 1, 36); */
  --primary: #001518;
  --bg: #f3f3f3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: var(--bg); */
  background-color: #f3f3f3;
  color: rgb(5, 5, 5);
  /* color: #ffff; */
  /* min-height: 10000px; */
}

.navbar {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 10%;
  background-color: rgba(1, 1, 1 0.8);
  border-bottom: 1px solid #85858518;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #e47900;
}
.navbar .navbar-logo span {
  font-size: 2rem;
  font-weight: 300;
  color: #e47900;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
  color: #e47900;
}

.navbar .navbar-nav a:hover {
  color: #e47900;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #e47900;
  transform: scalex(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

/* hero section */
.hero {
  /* background-image: url("../static/img/headerberanda-bg.jpg"); */
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #001518;
  background-repeat: no-repeat;
  background-position: 0rem 5rem;
  background-size: cover;
}

.hero .content {
  padding: 1.4rem 20%;
  max-width: 180rem;
}

.hero .content h1 {
  /* color: #e47900; */
  color: #fff;
  font-size: 5.5em;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.637);
  line-height: 1.2;
  font-weight: 700%;
}

.hero .content p {
  /* color: #fff; */
  color: #e47900;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
}

.hero .content .cta {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 2rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.836);
  background-color: #e47a00;
  border-radius: 50px;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.637);
}
.hero .content .ct {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 2rem;

  font-size: 1.4rem;
  color: #e47900;
  background-color: #001518;
  border-radius: 50px;
  box-shadow: 1px 1px 3px #e47900;
}

/* About Section */
.about {
  padding: 8rem 10% 8rem;
}

.about h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 6rem;
}

.about h2 span,
.artikel h2 span {
  color: #e47900;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 30rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 1%;
}

.about .row .content {
  flex: 1 20rem;
  padding: 0 3rem;
}

.about .row .content h3 {
  margin-top: 3rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.6;
}
.about .row .content .button {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #e47900;
  border-radius: 50px;
  box-shadow: 1px 1px 3px #fff;
}

/* jasa Section */

.jasa h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.jasa h2 span {
  color: #e47900;
}

.jasa {
  padding: 8rem 10% 10rem;
}

.jasa .sub {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.jasa .row {
  display: flex;
  background-color: #fff;
  box-shadow: 3px 3px 10px #d3d3d3;
  border-radius: 5px;
}

.jasa .row .jasa-img {
  flex: 1 1 25rem;
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 1.2rem;
}

.jasa .row .jasa-img .nama {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* .jasa .row .jasa-img img {
  width: 70%;
  border-radius: 50%;
} */

.jasa .row .content {
  margin-top: 3rem;
}

.jasa .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.jasa .row .content .p1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
  margin-right: 5rem;
  max-width: 100rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.jasa .row .content .title {
  border-top: 1px solid #85858518;
  margin-right: 5rem;
  margin-bottom: 1rem;
}

.jasa .row .content .button {
  background-color: #f0f0f0b2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: inline-block;
  padding: 0.2rem 1.5rem;
  font-size: 1.2rem;
  color: rgb(5, 5, 5);
  border-radius: 5px;
}
.jasa .row .content .button:hover {
  color: #e47900;
  border-radius: 5px;
  box-shadow: 0.5px 1px 1px #fff;
}

.jasa .row .content .btn {
  background-color: #e47900;
  box-shadow: 1px 1px 3px #d3d3d3;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-right: 3rem;
  display: inline-block;
  padding: 1rem 5rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 50px;
}

.jasa .row .content .btn1:hover {
  box-shadow: 1px 1px 3px #e47900;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-right: 3rem;
  display: inline-block;
  padding: 1rem 5rem;
  font-size: 1.2rem;
  color: #e47900;
  border-radius: 50px;
}

.jasa .row .content .btn1 {
  background-color: #fff;
  box-shadow: 1px 1px 3px #d3d3d3;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-right: 3rem;
  display: inline-block;
  padding: 1rem 5rem;
  font-size: 1.2rem;
  color: rgb(5, 5, 5);
  border-radius: 50px;
}

/* Artikel section */
.artikel {
  padding: 8rem 5.6% 8rem;
}

.artikel .cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.artikel .cont .conta {
  width: 30%;
}

.artikel .btn {
  text-align: center;
}

.artikel .row .content .button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  color: rgb(5, 5, 5);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.artikel h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.artikel .sub,
.kontak p {
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

.artikel .row {
  border-radius: 3% 3% 1% 1%;
  background-color: #ffffff;
  margin-right: 2rem;
  box-shadow: 2px 2px 10px rgb(175, 175, 175);
  margin-top: 3%;
}

.artikel .row .artikel-img {
  flex: 1 1 30rem;
}

.artikel .row .artikel-img img {
  width: 100%;
  border-radius: 3% 3% 0% 0%;
}

.artikel .row .content .blog-icon span {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 100;
}

.artikel .row .content .blog-icon span i {
  margin-right: 0.5rem;
}

.artikel .row .content .blog-icon {
  margin: 0 0 1rem 0;
}

.artikel .row .content {
  padding: 0 2rem;
  margin-top: 0.5rem;
}

.artikel .row .content h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  max-width: 30rem;
}

.artikel .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 30rem;
}
.artikel .tombol {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #e47900;
  border-radius: 50px;
}

.artikel .row .content .button:hover {
  color: #e47900;
}

/* contact */
.kontak {
  padding: 0rem 10% 4rem;
}

.kontak h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.kontak h2 span {
  color: #e47900;
}

.kontak p {
  margin: auto;
  max-width: 30rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

.kontak .row {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 10rem;
  background-color: #ffffff;
  flex-wrap: wrap;
  border-radius: 5px;
}

.kontak .row form {
  flex: 1 1 35rem;
  padding: 2rem 2rem;
  text-align: center;
  color: #fff;
}

.kontak .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #001518bd;
  border: 1px solid #001518;
  padding-left: 2rem;
  border-radius: 5px;
}

.kontak .row form .input-grup input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.2rem;
  background: none;
  color: #fff;
}
.kontak .row form .btn-kontak {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #e47900;
  cursor: pointer;
  border-radius: 50px;
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: var(--primary);
  flex-wrap: wrap;
  color: #fff;
}

footer .containerfoot {
  /* justify-content: center; */
  display: flex;
  padding: 8rem 7rem;
}

footer .containerfoot .row {
  margin: 5rem;
}

footer .containerfoot .row .col h4 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

footer .containerfoot .row .col p {
  line-height: 1.5;
  max-width: 20rem;
  font-size: 1.2rem;
}

footer .containerfoot .row .col .list {
  list-style: none;
  font-size: 1.2rem;
  line-height: 2rem;
}

footer .containerfoot .row .col .list a {
  display: flex;
  color: #fff;
}

footer .containerfoot .row .col .list a:hover {
  color: #e47900;
}

footer .copyrigh .credit {
  justify-content: center;
  border-top: 3px solid #85858518;
  display: flex;
  padding: 0.5rem 10% 0rem;
}
footer .copyrigh .credit p a {
  color: #e47900;
}

footer .copyrigh .credit .sosial {
  margin: 0rem 1rem;
}

footer .copyrigh .credit .sosial a {
  margin: 0rem 0.5rem;
  color: #fff;
}

footer .copyrigh .credit .sosial a:hover {
  color: #e47900;
}

/* Media Queris */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  .artikel .container {
    flex-wrap: wrap;
  }
}

/* phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
