:root {
  --primary: #001518;
  --bg: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../static/img/headerberanda-bg.jpg");
  position: relative;
  color: rgb(5, 5, 5);
}

/* login */
.row {
  text-align: center;
  margin: 8rem 35%;
}

.row form .container {
  margin-top: 2rem;
  border-radius: 0.5rem;
  padding-bottom: 4rem;
  background-color: var(--primary);
  box-shadow: 3px 3px 10px #d3d3d3;
}

.row form .container input {
  width: 70%;
  padding: 0.6rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  background-color: var(--primary);
}

h2 {
  color: #e47900;
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  text-shadow: 1px 1px 3px #e47900;
}

.row .container .button {
  background-color: #fff;
  box-shadow: 1px 1px 3px #d3d3d3;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: inline-block;
  padding: 0.6rem 4rem;
  font-size: 1rem;
  font-weight: 400;
  color: #e47900;
  border-radius: 5px;
}
.row .container .button:hover {
  background-color: #e47900;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: inline-block;
  padding: 0.6rem 4rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
}

.row .container .pass .lp {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
}

.row .container .pass .lp:hover {
  font-size: 1rem;
  color: #e47900;
  font-weight: 400;
}
