<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Freelance-Mataba</title>
    <link
      rel="shortcut icon"
      href="../static/img/logo-udmataba.png"
      type="image/x-icon"
    />
    <!-- my fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/home.css" />
    <!-- my icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <style>
      .navbar .navbar-logo img {
        max-width: 50%;
      }
    </style>
  </head>
  <body>
    {% block content %}
    <nav class="navbar">
      <a href="#" class="navbar-logo"
        ><img src="../static/img/logo-udmataba.png" alt=""
      /></a>

      <div class="navbar-nav">
        <a href="/">BERANDA</a>
        <a href="/about">TENTANG</a>
        <a href="/blog">BLOG</a>
        <a href="/jasa">JASA</a>
        <a href="#contact">KONTAK</a>
      </div>
      <div class="navbar-extra">
        <a href="#" id="shopping-cart"> <i data-feather="shopping-cart"></i></a>
        <img src="" alt="" />
      </div>
    </nav>
    <!-- Hero section start -->
    <section class="hero" id="home">
      <!-- <img src="../static/img/image-bg.jpg" alt="header img" /> -->
      <main class="content">
        <p>WILAYAH NUSA TENGGARA BARAT</p>
        <h1>Melayani Jasa Konstruksi & Interior</h1>
        <a href="#jasa" class="cta">Lihat Jasa</a>
        <a href="#artikel" class="ct">Artikel kami</a>
      </main>
    </section>
    <!-- Hero section end -->

    <!-- About section start -->
    <section id="about" class="about">
      <h2><span>Tentang</span> Kami</h2>

      <div class="row">
        <div class="about-img">
          <img
            src="../static/img/artikel/tentang-kami.jpg"
            alt="Tentang Kami"
          />
        </div>
        <div class="content">
          <h3>Mataba</h3>
          <p>
            Mataba adalah UMKM yang bergerak di bidang pelayanan Jasa Konstruksi
            dan Interior, kami menerima pelayanan khusus wilayah NTB. dijamin
            anda akan puas dengan memilih jasa kami.
          </p>
          <p>Kami siap mengerjakan project sesuai desain yang anda inginkan</p>
          <a href="/about" class="button">Tentang</a>
        </div>
      </div>
    </section>
    <!-- About section end -->

    <!-- Jasa section start -->
    {% for j in jasapage%}
    <section id="jasa" class="jasa">
      <h2><span>Jasa</span> Kami</h2>
      <p class="sub">Ringkasan jasa yang kami tawarkan</p>
      <div class="container">
        <div class="row">
          <div class="jasa-img">
            {% if j.gambar %}
            <img
              src="{{j.gambar.url}}"
              alt=""
              style="width: 200px; height: 200px; border-radius: 100%"
            />
            {% endif %}
            <h3 class="nama">{{j.nama}}</h3>
            <i class="fa-solid fa-star" style="color: rgb(175, 175, 175)"></i>
            <i class="fa-solid fa-star" style="color: rgb(175, 175, 175)"></i>
            <i class="fa-solid fa-star" style="color: rgb(175, 175, 175)"></i>
            <i class="fa-solid fa-star" style="color: rgb(175, 175, 175)"></i>
            <i class="fa-solid fa-star" style="color: rgb(175, 175, 175)"></i>
            <p style="margin-bottom: 1rem">0/10.00</p>
            <p>0 Points</p>
          </div>
          <div class="content">
            <h3>{{j.judul}}</h3>
            <p class="p1">{{j.deskripsi|safe|slice:":220" }}...</p>

            <a href="#" class="button">Konstruksi</a>
            <a href="#" class="button">Interior</a>
            <a href="#" class="button">Mebel</a>
            <a href="#" class="button">Paket lengkap</a>
            <div class="title"></div>
            <a href="/jasa" class="btn"
              ><i class="fa-solid fa-eye" style="margin-right: 0.5rem"></i>lihat
              jasa</a
            >
            <a href="/sendwa" class="btn1"
              ><i
                class="fa-sharp fa-solid fa-paper-plane"
                style="margin-right: 0.5rem"
              ></i
              >Ambil Jasa</a
            >
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    <!-- Jasa section end -->

    <!-- Artikel section start -->

    <section id="artikel" class="artikel">
      <h2><span>Artikel</span> Kami</h2>
      <p class="sub">
        Untuk mengetahui lebih lanjut, simak artikel berikut ini
      </p>
      <div class="cont">
        {% for i in blogpage%}
        <div class="conta">
          <div class="container">
            <div class="row">
              <div class="artikel-img">
                {% if i.gambar %}
                <img src="{{i.gambar.url}}" alt="image blog" />
                {% endif %}
              </div>
              <div class="content">
                <h3>{{i.judul|safe|slice:":40" }}...</h3>
                <p class="blog-icon">
                  <span><i class="fa-solid fa-user"></i>{{i.nama}}</span>
                  <span
                    ><i class="fa-solid fa-calendar-days"></i
                    >{{i.datetime}}</span
                  >
                </p>
                <p>{{i.deskripsi|safe|slice:":120" }}...</p>

                <a href="/detailblog/{{i.id}}" class="button"
                  >Selengkapnya <i data-feather="chevron-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="btn">
        <a href="/blog" class="tombol">Selengkapnya </a>
      </div>
    </section>

    <!-- Artikel section end -->

    <!-- Kontak section start -->
    <section id="contact" class="kontak">
      <h2><span>Kontak</span> Kami</h2>
      <p>
        Jika ingin mengunjungi kami ke lokasi langsung silahkan telusuri maps
        dibawah ini
      </p>
      <div class="row">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2019737.9776480314!2d116.46375192705239!3d-8.615120431039053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dcbbd22b7446ef1%3A0x586226b2e448a3ed!2sKabupaten%20Sumbawa%2C%20Nusa%20Tenggara%20Bar.!5e0!3m2!1sid!2sid!4v1675673338748!5m2!1sid!2sid"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="map"
        ></iframe>
        <form action="">
          <div class="input-grup">
            <i data-feather="user"></i>
            <input type="text" placeholder="Nama" />
          </div>
          <div class="input-grup">
            <i data-feather="mail"></i>
            <input type="text" placeholder="Email" />
          </div>
          <div class="input-grup">
            <i data-feather="phone"></i>
            <input type="text" placeholder="No Telepon" />
          </div>
          <button type="submit" class="btn-kontak">
            <i
              class="fa-sharp fa-solid fa-paper-plane"
              style="margin-right: 0.5rem"
            ></i
            >Kirim Pesan
          </button>
        </form>
      </div>
    </section>
    <!-- Kontak section end -->

    <!-- Footer start -->
    <footer>
      <div class="containerfoot">
        <div class="row">
          <div class="col">
            <h4>Tentang Kami</h4>
            <p>
              Mataba adalah UMKM yang bergerak di bidang pelayanan Jasa
              Konstruksi dan Interior, kami menerima pelayanan khusus wilayah
              NTB.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Alamat</h4>
            <p>
              UD.Mataba Dusun Mata Rt.001/ Rw.001, Desa Mata, Kecamatan Tarano,
              Kabupaten Sumbawa Nusa Tenggara Barat
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Halaman</h4>
            <ul class="list">
              <li><a href="#">Home</a></li>
              <li><a href="/about">Tentang</a></li>
              <li><a href="/jasa">Jasa</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="#contact">Kontak</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Ikuti kami</h4>
            <ul class="list">
              <li>
                <a href=""
                  ><i
                    class="fa-brands fa-instagram"
                    style="
                      margin-right: 0.5rem;
                      line-height: 2rem;
                      font-size: 20px;
                    "
                  ></i
                  >Instagram</a
                >
              </li>
              <li>
                <a href=""
                  ><i
                    class="fa-brands fa-facebook-f"
                    style="
                      margin-right: 0.5rem;
                      line-height: 2rem;

                      font-size: 20px;
                    "
                  ></i
                  >Facebook</a
                >
              </li>
              <li>
                <a href=""
                  ><i
                    class="fa-brands fa-whatsapp"
                    style="
                      margin-right: 0.5rem;
                      line-height: 2rem;
                      font-size: 20px;
                    "
                  ></i
                  >WhatsApp</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyrigh">
        <div class="credit">
          <p>Created by <a href="">yaminkusuma</a>. | &copy; 2023.</p>
          <div class="sosial">
            <a href=""><i data-feather="instagram"></i></a>
            <a href=""><i data-feather="twitter"></i></a>
            <a href=""><i data-feather="facebook"></i></a>
          </div>
        </div>
        <div class="sosial"></div>
      </div>
    </footer>
    <!-- Footer  end -->

    <!-- feather icons -->
    <script>
      feather.replace();
    </script>
    <script
      src="https://kit.fontawesome.com/d157dab1d8.js"
      crossorigin="anonymous"
    ></script>

    {% endblock %}
  </body>
</html>
