<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link
      rel="shortcut icon"
      href="../static/img/logo-udmataba.png"
      type="image/x-icon"
    />
    <!-- my fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- my icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- style css -->
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <div class="row">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
          <a href="#" class="navbar-logo"
            ><img
              src="../static/img/lg-lgn.png"
              alt=""
              style="margin-top: 4rem; margin-bottom: 2rem"
          /></a>

          <input name="username" type="text" placeholder="Username" required />
          <br />
          <br />

          <input
            name="password"
            type="password"
            placeholder="Password"
            required
          /><br />
          <br />

          <button type="submit" class="button">Login</button>

          {% for message in messages %}
          <p id="messages">{{message}}</p>
          {% endfor %}

          <div class="pass">
            <a href="#" class="lp">Forget password?</a>
          </div>
        </div>
      </form>
    </div>
    <!-- data feather -->
    <script>
      feather.replace();
    </script>
  </body>
</html>
